<!-- views/account/register.ejs -->

<main>
  <div class="form-wrapper">
    <h1>Register</h1>

    <!-- Flash messages -->
    <% if (messages().notice) { %>
      <ul class="notice">
        <% messages().notice.forEach(function(msg) { %>
          <li><%= msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <!-- Validation Errors -->
    <% if (errors && errors.length > 0) { %>
      <ul class="notice">
        <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <form method="post" action="/account/register" novalidate class="form-container">
      <label for="accountFirstName">First Name:</label>
      <input
        type="text"
        id="accountFirstName"
        name="first_name"
        required
        value="<%= first_name ? first_name : '' %>"
      >

      <label for="accountLastName">Last Name:</label>
      <input
        type="text"
        id="accountLastName"
        name="last_name"
        required
        value="<%= last_name ? last_name : '' %>"
      >

      <label for="accountEmail">Email:</label>
      <input
        type="email"
        id="accountEmail"
        name="email"
        required
        placeholder="Enter a valid email"
        value="<%= email ? email : '' %>"
      >

      <label for="accountPassword">Password:</label>
      <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
      <input
        type="password"
        id="accountPassword"
        name="password"
        required
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      >

      <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="/account/login">Login here</a></p>
  </div>
</main>
